{% extends 'base.html' %}
{% block content %}
   <!-- section -->
   <section class="main_full inner_page">
      <div class="container-fluid">
         <div class="row">
            <div class="full">
            <h3>About us</h3>    
            </div>
         </div>
      </div>
   </section>
   <!-- end section -->
   
   <!-- breadcrumb section -->
   <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
   </section>
   <!-- end section -->
   
   <!-- about section -->
   <section class="section margin_top_30">
      <div class="container"> 
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-6 Welcome-area-text">
            <div class="row">
              <div class="col-sm-12 section-header-box">
                <div class="section-header section-header-l js-scroll fade-in-bottom">
                  <h2>Godavari Foundation’s<br><span style="color: #4886ff;">Dr. Ulhas Patil English Medium School</span></h2>
                </div>
              </div>
              <p class="large text-justify js-scroll fade-in-bottom pr-2 pl-2">The Journey Of Dr. Ulhas Patil English Medium School, Savda Began In 2001 Under The Inspiration Of Our Respected Godavari Aai Along With The Far-sighted Vision Of Our Chairman Honourable Dr. Ulhas Pail Who Has Constantly Nurtured This School Under His Dynamic Leadership And An Overwhelming Personality.</p>
              <p class="large text-justify js-scroll fade-in-bottom pr-2 pl-2">Dr. Ulhas Patil English Medium School Is Part Of Godavari Foundaiton Which Was Established With The Aim Of Promoting Quality Education To The Students. The School Focuses On Holistic Development Of The Children By Engaging Them In Active Learning, Ensuring Commitment.</p>
            </div>
          </div>
          
          <!-- <div class="col-sm-12 col-md-6 js-scroll welcome-imgs fade-in-bottom">
            <img style="width: 100%;border-radius: 20px;object-fit: cover;" src="{{ url_for('static', filename='images/school.jpg')}}" alt="GFDUPEMS" class="iimage_shadow1">
          </div>          -->
          <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-right">
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='images/n.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='images/kids.webp')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
          </div> 
        </div>
      </div>
    </section>
   <!-- end about section -->
   
   <!-- section -->

   <section class="mt-5">
      <div class="container">
          <div class="row">
              <div class="">
                  <div class="title text-center margin_bottom_30 js-scroll fade-in">
                      <h1>Vision & Mission</h1>
                      <p></p>
                  </div>
                  <div style="line-height: 30px;" class="m-5">
                      <div class="photo col-12 row iimage_shadow2 mt-5 mb-5 pt-3 pb-3 justify-content-center" style="width:100%;">
                          <div class="col-3 js-scroll fade-in d-flex align-items-center" style="min-width: 85px;">
                            <img src="{{ url_for('static', filename='images/cour2.png')}}" width="100%">
                          </div>
  
                          <div class="col-9 js-scroll fade-in" >
                            <h4 class="title text-center">Our Vision</h4>
                          <p class="text-justify"><strong>Our vision is to be a leading school, nurturing the students of 
                            noble rank traditions, culture and democratic ideals to contribute 
                            Toactively in homes and families. </strong></p>
                          </div>
                          
                      </div>
  
                      <div class="photo col-12 row flex-wrap-reverse justify-content-center iimage_shadow2 mt-5 mb-5 pt-3 pb-3">
                        
                        <div class="col-9 js-scroll fade-in">
                          <h4 class="title text-center">Our Mission</h4>
                        <p class="text-justify"> <strong>Our mission is to provide every student an ideal learning 
                          environment of intellectual rigour and high academic standards for the 
                          holistic and integrated development of our students. We promise to do the 
                          almost possible efforts to equipour students for lifelong challenges and 
                          opportunity. </strong></p>
                        </div>
                          
                          <div class="col-3 js-scroll fade-in d-flex align-items-center" style="min-width: 85px;">
                            <img src="{{ url_for('static', filename='images/cour1.png')}}" width="100%">
                          </div>
                      </div>
                  </div>
                  <hr class="line">
              </div>
          </div>  
      </div>  
   </section>

   <section class="section">
    <div class="container">
      <div class="">
          <h1 class="title text-center js-scroll fade-in">Our Objectives</h1>
        <div class="sfees js-scroll fade-in p-3">
          <ul>
            <li>
              <p>To impart progressive and quality education suited to the changing, needs and aspirations of our time. </p>
            </li>
            <li>
              <p>To encourage the students to analyse and evaluate their experienceg
                learn to doubt, to question, to investigate' and to think independently. 
                </p>
            </li>
            <li>
              <p>To inculcate values in students which will make them critically aware
                of the social realities. </p>
            </li>
            <li>
              <p>To develop children's character and personality through persona]
                guidance. </p>
            </li>
            <li>
              <p>To develop concern for justice, human rights and commitment to the
                poor and the needy. 
                </p>
            </li>
            <li>
              <p>To bring about refinement of manners, gentleness in language and to
                develop habit of obedience, order and neatness in person and
                cleanliness in dress. </p>
            </li>
            <li>
              <p>To contribute to educational thinking and innovative approaches in the field of education. </p>
            </li>
            <li>
              <p>To impart truthful love of god, just and selfless love of fellowmen and kindness toall beings. </p>
            </li>
            <li>
              <p>To impart knowledge and love to the ecological system and to develop dedicated concern to preserve the ecosystem.</p>
            </li>
            <li>
              <p>To develop aesthetic sense and talents through co-scholastic programme. </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
   </section>

   <section class="section layout_padding">
    <div class="container">
      <h1 class="title text-center js-scroll fade-in">Take a tour</h1>
      <div class="text-center">
        <video id='video' controls="controls" preload='none' width="100%" src="{{ url_for('static', filename='video/Final.mp4')}}" autoplay="autoplay" muted="muted" style="border-radius: 15px;"></video>
      </div>
    </div>
   </section>

   <section class="section layout_padding">
    <div class="container">
      <div class="title text-center p-4 js-scroll fade-in">
        <h1>Our Working Hours</h1>
      </div>
      <div class="center d-flex js-scroll fade-in">
        <div class="col-md-6">
          <h4>School Hours</h4>
        </div>
        <div class="col-md-6 sfees">
          <ul>
            <li>
              <p><strong>8 AM TO 2.10 PM</strong> (for classes 1 to 12) </p>
            </li>
            <li>
              <p><strong>8 AM to 11.30 AM</strong> (for Pre-Primary) </p>
            </li>
            <li>
              <p><strong>8 AM to 12.10 PM</strong> (On Saturdays and Month End) </p>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="center d-flex">
        <div class="col-md-6 js-scroll fade-in">
          <h4>Office Hours</h4>
        </div>
        <div class="col-md-6 sfees js-scroll fade-in">
          <ul>
            <li>
              <p><strong>8 AM TO 3 PM</strong> </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
   </section>

   <!-- end section -->
   <div class="col-12 margin_bottom_30 js-scroll fade-in">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119070.97015714193!2d75.79047903906249!3d21.153679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd9ae73b2bbf447%3A0x5a29c029038d9f66!2sDr.%20Ulhas%20Patil%20English%20Medium%2C%20CBSE%20School!5e0!3m2!1sen!2sin!4v1706694249705!5m2!1sen!2sin" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
      
{% endblock content %}