{% extends "base.html" %}
{% block content %}
  
 <!-- section -->
 <section class="main_full inner_page">
   <div class="container-fluid">
      <div class="row">
         <div class="full">
           <h3>Academics</h3>    
         </div>
      </div>
    </div>
 
 </section>
 <!-- end section -->

 <!-- section -->
 <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Academics</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

 <!-- section -->
 <section class="section">
    <div class="container sfees">
      <h1 class="title text-center m-5"><i class="fa-solid fa-book-open"></i>Admissions</h1>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <ul>
            <li><p> Applications for admissions to all classes are accepted from the students and 
              subject to the availability of seats. It is open to all students regardless of caste 
              or creed. The admissions will be granted on the basis of entrance test.</p></li>

            <li><p> Admitted students are to produce Transfer Certificates from the previous 
              schools, For admission to LKG a child should be 4 years of age on 1st June of 
              the school year in which admission is sought. For Grade-1, the child must 
              have completed 6 years of age on 31st May. A copy of Birth Certificate issued 
              by the Registrar of Births and Death(Panchayat/Municipality / Corporation) 
              is compulsory at the time of admission to Grade-1 onwards.</p></li>

            <li><p>All students who have passed the Secondary School Examination are eligible 
                  for admission to Grade XI. Admission to the Senior Secondary Section 
                  (Grade XI) is made purely on the basis of merit.</p></li>

            <li><p> The management reserves the right to admit or retain a student in the school. 
                    New students are admitted on payment of the admission fee. The admission 
                    fee is non-refundable at any circumstances. The school fees will be charged 
                    from the month of April irrespective of the month of admission. The 
                    Principal is the final authority in granting admissions. </p></li>        
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-right">
          <div class="welcome-imgs">
             <img src="{{ url_for('static', filename='images/n.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
          </div>
          <div class="welcome-imgs">
             <img src="{{ url_for('static', filename='images/kids.webp')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
          </div>
        </div> 
      </div>
    </div>

 </section>
 <!-- end section -->

<!-- section -->
<section class=" section">
  <div class="container">
    <h3 class="text-center m-5"><i class="fa-regular fa-clock" style="margin-right: 20px;"></i>School Timings</h3>
    <table class="table table-bordered table-striped table-responsive-stack">
       <tbody>
        <tr>
          <td class="text-center w-50">8:10</td>
          <td class="text-center">FIRST BELL / SCHOOL ASSEMBLY </td>
        </tr>
        <tr>
          <td class="text-center">8:30</td>
          <td class="text-center">FIRST PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">9:10</td>
          <td class="text-center">SECOND PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">9:50</td>
          <td class="text-center">THIRD PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">10:30</td>
          <td class="text-center">FOURTH PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">11:10 - 11:30</td>
          <td class="text-center">RECESS/ LUNCH BREAK </td>
        </tr>
        <tr>
          <td class="text-center">11:30</td>
          <td class="text-center">FIFTH PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">12:10</td>
          <td class="text-center">SIXTH PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">12:50 </td>
          <td class="text-center">SEVENTH PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">1:30 </td>
          <td class="text-center">EIGHTH PERIOD </td>
        </tr>
        <tr>
          <td class="text-center">2:10 </td>
          <td class="text-center">CONCLUDING PRAYER and DISPERSAL. </td>
        </tr> 
       </tbody>
    </table>
  </div>

</section>
<!-- end section -->

 <!-- section -->
 <section class="section" style="padding-bottom: 90px;">
    <div class="container">
      <div class="sfees d-block">
        <h1 class="title text-center m-5" ><i class="fa-solid fa-list"></i>Rules of Discipline</h1>
        <div class="col-md-12 row">
          <div class="col-sm-12 col-md-6 justify-content-between">
            <ul class="mt-4 rules">
              <li>
                <p>Every student must obey the following rules of discipline of the school. </p>
              </li>
              <li>
                <p>All must be in time. Late-comers will have to get written permission from the Principal. </p>
              </li>
              <li>
                <p>Students must come to school in clean, , neat and proper uniform. </p>
              </li>
              <li>
                <p>The school uniform should be strictly in accordance with the pattern presribed by school.</p>
              </li>
              <li>
                <p>Being an English Medium School, the medium of communication in the school campus and premises is English.</p>
              </li>
              <li>
                <p>Every student is responsible for the safe custody of his / her belongings . The school will not be responsible for their loss.</p>
              </li>
              <li>
                <p>Gold ornaments and jewellery of any kind are not allowed in the school.</p>
              </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-right">
          <div class="welcome-imgs">
             <img src="{{ url_for('static', filename='uploads/images/academics/IMG20240319161212.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
          </div>
          <div class="welcome-imgs">
             <img src="{{ url_for('static', filename='uploads/images/events/IMG20231016184250_01.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
          </div>
        </div>
        </div>
        <div class="col-md-12 row">
          <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-left">
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='uploads/images/academics/IMG20240319165605.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='uploads/images/events/DSCN8532.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 justify-content-between">
            <ul class="mt-4">
              <li>
                <p>Absolute silence and perfect order should be maintained by all students while going out for the assembly and returning to classes.</p>
              </li>
              <li>
                <p>Teachers as well as students will not be called to telephone calls during class hours.</p>
              </li>
              <li>
                <p>Mobile phones are strrictly prohibited in the class as per the court order. Any student who brings the mobile phones are obliged to submit in the office.</p>
              </li>
              <li>
                <p>The school building and premises should be kept clean and tidy. Any damage caused to school property or properties owned by others will have to be adequately compensated. Damage caused even by accident should be reported to the school authorities.</p>
              </li>
              <li>
                <p> For entries in progress report and remarks in the school diary as well as other
                  communications intended for parents, a student must obtain his/ her parent's
                  acknowledgment within three days. </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 row">
          <div class="col-sm-12 col-md-6 justify-content-between">
            <ul class="mt-4">
              <li>
                <p> Immoral actions, grave insubordination, contempt of authorities and willful
                  damage to property are always sufficient reasons for immediate dismissal. </p>
              </li>

              <li>
                <p>The Principal reserves the right to take disciplinary action. </p>
              </li>
              
              <li>
                <p> Permission from the Principal is necessary for leaving the school premises
                    during the school hours. After obtaining permission you should register your
                    name with the school security at the entrance. </p>
              </li>

              <li>
                <p> No student will be sent home, unless a duly authorised person comes to take him / her. </p>
              </li>

              <li>
                <p> Attendance on 'Independence Day' and 'Republic Day' celebrations in the
                    school is mandatory for all students. No leave will be sanctioned on these
                  days. </p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-right">
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='uploads/images/sports/IMG20231208094150.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
            <div class="welcome-imgs">
               <img src="{{ url_for('static', filename='images/295643887_425902619582104_8206026738470239776_n (1).jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 <!-- end section -->

 <!-- section -->
 <section class="section" style="padding-bottom: 90px;">
  <div class="container text-justify position-relative">
    <h1 class="title text-center m-5"><i class="fa-solid fa-table-tennis-paddle-ball" style="margin-right: 20px;"></i>Extra-Curricular Activities</h1>
    <p>The extra co-curricular activities of the school aim to develop the inborn talents of every child to the fullest extent. The Cultural Committee organises 
      and conducts competitions and activities like Fancy Dress, Dance, Rangoli, 
      Diwali Card Making, Candle Decoration, Essay writing, Story writing, 
      Handwriting, etc.</p>

      <p>The Physical Education Department of the school 
      organises and conducts various activities like Sports' Meet, Coaching and 
      training for Hockey, Football, Basketball, Cricket, Kabaddi, Boxing, Karate, 
      Skating, shooting etc. Yoga has been made an integral part of the school 
      curriculum. The students from class 1 to 12 are divided into four houses 
      namely Green, Red, Blue and Yellow for different activities and 
      competitions.</p>
      
      <p> The school also provides platform for the students to take part 
      in Inter-school, Intra-school, District level, Zonal level, State Level and 
      National Level competitions and activities. </p>

      <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="d-flex flex-column">
                <img src="{{ url_for('static', filename='images/extra/DSCN0386.webp')}}" class="img-fluid">
                
                <img src="{{ url_for('static', filename='images/extra/DSCN1037.webp')}}" class="img-fluid">
            </div>
            
            <div class="d-flex flex-column">
                <img src="{{ url_for('static', filename='images/extra/IMG_20231209_114934.webp')}}" class="img-fluid">
                
                <img src="{{ url_for('static', filename='images/extra/IMG20230815083800.webp')}}" class="img-fluid scale">
            </div>
            
            <div class="d-flex flex-column">
                <img src="{{ url_for('static', filename='images/extra/IMG20230815083113.webp')}}" class="img-fluid scale mb-2">
                <img src="{{ url_for('static', filename='images/extra/IMG20231016184305_01.webp')}}"  class="img-fluid">
            </div>
        </div>
    </div>
    <div class="icons icon-9">
      <img src="static/images/icons/9.png" width="40px" height="40px" alt="">
    </div>
    <div class="icons icon-11">
      <img src="static/images/icons/11.png" width="40px" height="40px" alt="">
    </div>
  </div>

</section>
<!-- end section -->
    
{% endblock %}