{% extends 'base.html' %}
{% block content %}   
   <!-- section -->
   <section class="main_full inner_page">
      <div class="container-fluid">
         <div class="row">
          <div class="full">
            <h3>Contact</h3>    
          </div>
       </div>
     </div>
   </section>
   <!-- end section -->

   <!-- section -->
   <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
   </section>
   <!-- end section -->
   <section class="layout_padding center">
      <div class="container center">
            <div class="col-md-12 row justify-content-center">
               
               <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center contact_card">
                  <div class="m-0 p-0 text-center">
                     <i class="fa fa-volume-control-phone fa-2x mb-3" style="color: #040721;" aria-hidden="true"></i>
                     <h3>Call Us</h3>
                     <p>02584 223455</p>
                  </div>

               </div>
               <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center contact_card">
                  <div class="m-0 p-0 text-center">
                     <i class="fa fa-map-marker fa-2x mb-3" style="color: #040721;" aria-hidden="true"></i>
                     <h3>Meet Us</h3>
                     <p>5V3F+F5C, Midc Area Opposite Vijay Tyres, Savda-Faizpur Road, Tal-Raver District Jalgaon, Maharashtra, Jalgaon, Maharashtra 425502</p>
                  </div>

               </div>
               <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center contact_card">
                  <div class="m-0 p-0 text-center">
                     <i class="fa fa-envelope fa-2x mb-3" style="color: #040721;" aria-hidden="true"></i>
                     <h3>Mail Us</h3>
                     <p>contact@gfdupemss.com</p>
                  </div>

               </div>   
            </div>
      </div>
   </section>
    
   <!-- section -->
   <section class="layout_padding section">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h3 class="text-center">Message Us</h3>
               <div class="contact_section margin_top_30">
                  <div class="row">
                     <div class="col-md-8 offset-md-2">
                        <div class="form_cont">
                               <form action="index.html">
                              <fieldset>
                                    <div class="field js-scroll fade-in-bottom">
                                       <input type="text" name="name" placeholder="Name" required>
                                    </div>
                                    <div class="field js-scroll fade-in-bottom">
                                       <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="field js-scroll fade-in-bottom">
                                       <input type="text" name="phone" placeholder="Phone">
                                    </div>
                                    <div class="field js-scroll fade-in-bottom">
                                       <textarea placeholder="Message"></textarea>
                                    </div>
                                  <div class="field text-center js-scroll fade-in-bottom">
                                    <button>Send</button>
                                 </div>
                              </fieldset>
                              </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end section -->
     
{% endblock content %}