{% extends 'base.html' %}
{% block content %}
 <style>
   .container h3{
      text-decoration: underline;
   }
 </style>
 <!-- section -->
 <section class="main_full inner_page">
    <div class="container-fluid">
       <div class="row">
          <div class="full">
          <h3>Mandatory Disclosure</h3>    
          </div>
       </div>
    </div>
 </section>
 <!-- end section -->
 
 <!-- breadcrumb section -->
 <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Documents</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
 </section>
 <!-- end section -->

 <div class="section">
    <div class="container text-center" style="margin: 30px auto;">
        <h2><span style="color: #4886ff;">Mandatory Disclosure</span></h2>
    </div>
 </div>

 <hr class="container" style="border: 1px dashed;">

 <!-- documents section -->
 <section class="section m-5">
    <div class="container">

        <h3 class="text-center">A. General Information</h3>
        <table class="table table-bordered table-striped table-responsive-stack">
           <thead class="thead-dark">
              <tr>
                 <th>Sl. No</th>
                 <th>Information</th>
                 <th>Details</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>1</td>
                 <td>NAME OF THE SCHOOL</td>
                 <td>DR. ULHAS PATIL ENGLISH MEDIUM SCHOOL</td>
              </tr>
              <tr>
                 <td>2</td>
                 <td>AFFILIATION NO.(IF APPLICABLE)</td>
                 <td>1130267</td>
              </tr>
              <tr>
                 <td>3</td>
                 <td>SCHOOL CODE (IF APPLICABLE)</td>
                 <td>30235</td>
              </tr>
              <tr>
                 <td>4</td>
                 <td>COMPLETE ADDRESS WITH PIN CODE</td>
                 <td>DR. ULHAS PATIL ENGLISH MEDIUM SCHOOL,
                  <br>MIDC AREA OPP.VIJAY TYRES, <br>SAVDA-FAIZPUR
                  ROAD, <br>JALGAON, - 425502</td>
              </tr>
              <tr>
                 <td>5</td>
                 <td>PRINCIPAL NAME</td>
                 <td>Mrs. Bharati Kirankant Mahajan</td>
              </tr>
              <tr>
               <td>6</td>
               <td>PRINCIPAL QUALIFICATION</td>
               <td>M.A. , B.Ed.</td>
            </tr>
            <tr>
               <td>7</td>
               <td>SCHOOL EMAIL ID</td>
               <td></td>
            </tr>
            <tr>
               <td>8</td>
               <td>CONTACT DETAILS (LANDLINE/MOBILE)</td>
               <td>02584223455</td>
            </tr>
           </tbody>
        </table>
      </div>
      <div class="container">
        
        <h3 class="text-center">B. Documents and Information</h3>
        <table class="table table-bordered table-striped table-responsive-stack">
           <thead class="thead-dark">
              <tr>
                <th>Sl. No</th>
                <th>Document</th>
                <th>Link</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>1</td>
                 <td>COPIES OF AFFILIATION/UPGRADATION LETTER
                  AND RECENT EXTENSION OF AFFILIATION, IF
                  ANY</td>
                 <td><a href="https://drive.google.com/file/d/1DmevWmyqoGnx7K71jP7_i5M_OtCXHl3S/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>2</td>
                 <td>COPIES OF SOCIETIES/TRUST/COMPANY
                  REGISTRATION/RENEWAL CERTIFICATE, AS
                  APPLICABLE</td>
                 <td><a href="https://drive.google.com/file/d/1bAae3pS1bFnOUhMAaZMrSymfj7MnaK1E/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>3</td>
                 <td>COPY OF NO OBJECTION CERTIFICATE (NOC)
                  ISSUED, IF APPLICABLE, BY THE STATE GOVT./UT</td>
                 <td><a href="https://drive.google.com/file/d/12GsaDNCwvG-upDEW2i0qbWPeABGYRrC1/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
               <td>4</td>
               <td>COPIES OF RECOGNITION CERTIFICATE UNDER
                  RTE ACT, 2009, AND IT’S RENEWAL IF
                  APPLICABLE</td>
               <td><a href="https://drive.google.com/file/d/10nkbimtIcCU5hvJ4RYoZJKJBqmjLHlE6/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
               <td>5</td>
               <td>COPY OF VALID BUILDING SAFETY CERTIFICATE
                  AS PER THE NATIONAL BUILDING CODE</td>
               <td><a href="https://drive.google.com/file/d/1QQAhjTA6H0CiErpMwvP4OycK3pYEK-Cw/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
               <td>6</td>
               <td>COPY OF VALID FIRE SAFETY CERTIFICATE
                  ISSUED BY THE COMPETENT AUTHORITY</td>
               <td><a href="https://drive.google.com/file/d/1HwBnmw-slTbpoU-x4EcD0u6x4yRPIUM_/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
               <td>7</td>
               <td>COPY OF THE SELF CERTIFICATION SUBMITTED
                  BY THE SCHOOL FOR
                  AFFILIATION/UPGRADATION/EXTENSION OF
                  AFFILIATION</td>
               <td><a href="https://drive.google.com/file/d/1g51W07VzmHqzxpj_uLOZBXHFA0BwP80h/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
               <td>8</td>
               <td>COPIES OF VALID WATER, HEALTH AND
                  SANITATION CERTIFICATES</td>
               <td><a href="https://drive.google.com/file/d/1gAVv2u_buGn6oBc-mOJ67EYVuA8nP7az/view" target="_blank">Click here</a></td>
              </tr>
     
           </tbody>
        </table>
      </div>
      <div class="container">
        <h3 class="text-center">C. Academics</h3>
        <table class="table table-bordered table-striped table-responsive-stack">
           <thead class="thead-dark">
              <tr>
                <th>Sl. No</th>
                <th>Document / Information</th>
                <th>Link</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>1</td>
                 <td>FEE STRUCTURE OF THE SCHOOL</td>
                 <td><a href="https://drive.google.com/file/d/1ZqV3hv5ujOe5j2DTQgOZN5W3NXs5jSdE/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>2</td>
                 <td>ANNUAL ACADEMIC CALENDER</td>
                 <td><a href="https://drive.google.com/file/d/1XegkYRJfQFrp8BFDFfgbMCndBJ1a3N1u/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>3</td>
                 <td>LIST OF SCHOOL MANAGEMENT COMMITTEE
                  (SMC)</td>
                 <td><a href="https://drive.google.com/file/d/1NmOZUHgd1CuEhuZ1I9VqPke2TmuIg9Uj/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>4</td>
                 <td>LIST OF PARENTS TEACHERS ASSOCIATION
                  (PTA) MEMBERS</td>
                 <td><a href="https://drive.google.com/file/d/1xi3Kqr68i9AUxf95sD9cMjFxj5hTJCkG/view" target="_blank">Click here</a></td>
              </tr>
              <tr>
                 <td>5</td>
                 <td>LAST THREE-YEAR RESULT OF THE BOARD
                  EXAMINATION AS PER APPLICABILITY</td>
                 <td><a href="https://drive.google.com/file/d/1aErH2N5IfqRTg1x3Er060cxqEXur-ClK/view" target="_blank">Click here</a></td>
              </tr>
     
           </tbody>
        </table>

      </div>
      <div class="container">
        <h3 class="text-center">D. Staff (Teaching)</h3>
        <table class="table table-bordered table-striped table-responsive-stack">
           <thead class="thead-dark">
              <tr>
                <th>Sl. No</th>
                <th>Information</th>
                <th>Details</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>1</td>
                 <td>PRINCIPAL</td>
                 <td>Mrs. Bharti Kirankant Mahajan</td>
              </tr>
              <tr>
                 <td>2</td>
                 <td>TOTAL NO. OF TEACHERS</td>
                 <td>66</td>
              </tr>
              <tr>
               <td></td>
               <td>PGT</td>
               <td>28</td>
              </tr>
              <tr>
               <td></td>
               <td>TGT</td>
               <td>27</td>
              </tr>
              <tr>
               <td></td>
               <td>PRT</td>
               <td>11</td>
              </tr>
              <tr>
                 <td>3</td>
                 <td>TEACHERS SECTION RATIO</td>
                 <td>58</td>
              </tr>
              <tr>
               <td>4</td>
               <td>DETAILS OF SPECIAL EDUCATOR</td>
               <td>-</td>
              </tr>
              <tr>
               <td>5</td>
               <td>DETAILS OF COUNSELLOR AND WELLNESS
                  TEACHER</td>
               <td>-</td>
              </tr>
     
           </tbody>
        </table>

      </div>
      <div class="container">
        <h3 class="text-center">E. School Infrastructure</h3>
        <table class="table table-bordered table-striped table-responsive-stack">
           <thead class="thead-dark">
              <tr>
                <th>Sl. No</th>
                <th>Document / Information</th>
                <th>Details / Link</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>1</td>
                 <td>TOTAL CAMPUS AREA OF THE SCHOOL (IN SQ
                  MTR)</td>
                 <td>20234</td>
              </tr>
              <tr>
                 <td>2</td>
                 <td>NO. AND SIZE OF THE CLASS ROOMS (IN SQ
                  MTR)</td>
                 <td>80 & 47</td>
              </tr>
              <tr>
                 <td>3</td>
                 <td>NO. AND SIZE OF LABORATORIES INCLUDING
                  COMPUTER LABS (IN SQ MTR)</td>
                 <td>11 & 50</td>
              </tr>
              <tr>
               <td>4</td>
               <td>INTERNET FACILITY</td>
               <td>Yes</td>
              </tr>
              <tr>
               <td>5</td>
               <td>NO. OF GIRLS TOILETS</td>
               <td>24</td>
              </tr>
              <tr>
               <td>6</td>
               <td>NO. OF BOYS TOILETS</td>
               <td>24</td>
              </tr>
              <tr>
               <td>7</td>
               <td>LINK OF YOUTUBE VIDEO OF THE INSPECTION
                  OF SCHOOL COVERING THE INFRASTRUCTURE
                  OF THE SCHOOL</td>
               <td><a href="https://www.youtube.com/watch?v=scZDsZs1pek" target="_blank">Click here</a></td>
              </tr>
     
           </tbody>
        </table>
      </div>
 </section>
 <!-- end documents section -->

{% endblock %}