{% extends 'base.html' %}
{% block content %}

<!-- section -->
<section class="main_full inner_page">
    <div class="container-fluid">
        <div class="row">
            <div class="full">
            <h3>Gallery</h3>    
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- breadcrumb section -->
<section class="section">
    <div class="container">
        <div class="row">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="layout_padding ">
    <div class="container">
       <div class="row">
          <div class="full p-4">
            <h3 class="title text-center js-scroll fade-in">Our School Gallery</h3>
            <hr>
            <h4 class="text-center font-weight-normal margin_top_60 js-scroll fade-in-bottom"><strong>Welcome to our school’s vibrant gallery page! 🎨</strong></h4>
            <p class="js-scroll text-justify fade-in-bottom">This is a digital canvas that captures the essence of our school community. As you navigate through, you’ll find a collection of moments frozen in time, each image telling a unique story of learning, growth, and camaraderie.</p>
            <p class="js-scroll text-justify fade-in-bottom">From the radiant smiles of our students immersed in their lessons, to the dedicated focus of teachers nurturing young minds, each photo is a testament to our school’s commitment to education. You’ll see our classrooms buzzing with curiosity, our sports fields echoing with cheers, and our arts spaces brimming with creativity.</p>
            <p class="js-scroll text-justify fade-in-bottom">This gallery is more than just a collection of photos - it’s a journey through our school’s heart and soul. So, come along and explore the wonderful world of learning and discovery that is our school. Enjoy the journey! 😊</p>
          </div>
       </div>
    </div>
 </section>
 
 <style>
    /* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #1064d8;
  color: white;
}
.hide{
    display:none;
}
 </style>
<!-- gallery section -->
<div class="container">
    <div class="myBtnContainer text-center">
        <button class="btn active" data-name="all"> Show all</button>
        <button class="btn" data-name="academics"> Academics</button>
        <button class="btn" data-name="departments"> Departments</button>
        <button class="btn" data-name="events"> Events</button>
        <button class="btn" data-name="infrastructure"> Infrastructure</button>
        <button class="btn" data-name="sports"> Sports</button>
    </div>
</div>
<section class="gallery-block grid-gallery align-self-center">
    <div class="container align-self-center">
        <div class="row gall-images js-scroll fade-in align-self-center">
            {% for name in acad_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item " data-name="academics">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/academics/' + name) }}" data-lightbox="school" data-title="Academics">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/academics/' + name) }}">
                </a>
            </div>
            {% endfor %}
            {% for name in depart_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item " data-name="departments">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/departments/' + name) }}" data-lightbox="school" data-title="Departments">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/departments/' + name) }}">
                </a>
            </div>
            {% endfor %}
            {% for name in image_names %}
            <div class="col-sm-6 col-md-4 col-lg-3 item ">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/others/' + name) }}" data-lightbox="school" data-title="School">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/others/' + name) }}">
                </a>
            </div>
            {% endfor %}
            {% for name in even_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item " data-name="events">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/events/' + name) }}" data-lightbox="school" data-title="Events">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/events/' + name) }}">
                </a>
            </div>
            {% endfor %}
            {% for name in infra_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item " data-name="infrastructure">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/infrastructure/' + name) }}" data-lightbox="school" data-title="Infrastructure">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/infrastructure/' + name) }}">
                </a>
            </div>
            {% endfor %}
            {% for name in sport_images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item " data-name="sports">
                <a class="iimage_shadow3" href="{{ url_for('static', filename='images/gallery/sports/' + name) }}" data-lightbox="school" data-title="Sports">
                    <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='images/gallery/sports/' + name) }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <section class="m-5 w-100">
        <div class="text-center js-scroll fade-in-bottom">
            <h3>Our Videos</h3>
        </div>
        <div class="container row justify-content-between">
            <div class="m-2 js-scroll fade-in-bottom">
                <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDr.Upemssavda%2Fvideos%2F489272196714808%2F&show_text=false&width=560&t=0" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
            <div class="m-2 js-scroll fade-in-bottom">
                <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDr.Upemssavda%2Fvideos%2F3364557430469885%2F&show_text=false&width=560&t=0" width="100%" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>
        </div>
    </section>
    
</section>
{% endblock %}
