{% extends 'base.html' %}
{% block content %}

<!-- section -->
<section class="main_full inner_page">
    <div class="container-fluid">
        <div class="row">
            <div class="full">
            <h3>Gallery</h3>    
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- breadcrumb section -->
<section class="section">
    <div class="container">
        <div class="row">
        <div class="col-md-12 col-sm-12">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="layout_padding ">
    <div class="container">
       <div class="row">
          <div class="full p-4">
            <h3 class="title text-center js-scroll fade-in">Our School Gallery</h3>
            <hr>
            <h4 class="text-center font-weight-normal margin_top_60 js-scroll fade-in-bottom"><strong>Welcome to our school’s vibrant gallery page! 🎨</strong></h4>
            <p class="js-scroll text-justify fade-in-bottom">This is a digital canvas that captures the essence of our school community. As you navigate through, you’ll find a collection of moments frozen in time, each image telling a unique story of learning, growth, and camaraderie.</p>
            <p class="js-scroll text-justify fade-in-bottom">From the radiant smiles of our students immersed in their lessons, to the dedicated focus of teachers nurturing young minds, each photo is a testament to our school’s commitment to education. You’ll see our classrooms buzzing with curiosity, our sports fields echoing with cheers, and our arts spaces brimming with creativity.</p>
            <p class="js-scroll text-justify fade-in-bottom">This gallery is more than just a collection of photos - it’s a journey through our school’s heart and soul. So, come along and explore the wonderful world of learning and discovery that is our school. Enjoy the journey! 😊</p>
          </div>
       </div>
    </div>
 </section>
 
 <style>
    /* Style the buttons */

.filterbtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.filterbtn:hover {
  background-color: #ddd;
}

.filterbtn.active {
  background-color: #1064d8;
  color: white;
}
.hide{
    display:none;
}

.video-title { 
    text-align: center;
    margin-top: 10px; 
    font-weight: bold; 
} 
.video-wrapper { 
    margin-bottom: 20px; 
}
 </style>
<!-- gallery section -->
<div class="container mb-5">
    <div class="myBtnContainer text-center">
        <button class="btn filterbtn active" data-name="all"> Show all</button>
        {% for category, files in images.items() %}
        <button class="btn filterbtn" data-name="{{category}}"> {{category}}</button>
        {% endfor %}
    </div>
</div>
{% for category, files in images.items() %}

    <div class="container align-self-center categoryhead" data-name="{{category}}">
        <div class="d-flex justify-content-around flex-row-reverse">
            {% if current_user.is_authenticated %}
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#uploadto{{category}}">
                <i class="fa-regular fa-trash-can"></i>Upload Images
            </button>

            <!-- Modal -->
            <div class="modal fade" id="uploadto{{category}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload images to {{category}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="text-center mb-5 p-5">
                            <input type="hidden" id="category" name="category" value="{{category}}">
                            <br><br>
                            <input class="form-control-file" type="file" name="files" id="files" multiple required>
                            <br><br>
                            <button class="btn btn-outline-success p-1" type="submit">Upload to {{category  }}</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <h3 class="text-uppercase ">{{category}}</h3>
            {% if current_user.is_authenticated %}
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#{{category}}Modal">
                <i class="fa-regular fa-trash-can"></i> Delete
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="{{category}}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Delete {{category}}?</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Note that Once deleted, category cannot be restored. Category can only be deleted when it is empty. </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('delete_category', category=category) }}" method="post">
                            <button class="btn btn-outline-danger" type="submit">Delete</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <section class="gallery-block grid-gallery align-self-center">
            <div class="container align-self-center">
                <div class="row  js-scroll fade-in align-self-center">
                    {% for file in files %}
                    {% set name = file.split('.')[0] %}
                    <div class="col-sm-6 col-md-4 col-lg-3 item ">
                        <a class="iimage_shadow3" href="{{ url_for('static', filename='uploads/images/' + category + '/' + file) }}" data-lightbox="school" {% if category == "departments" %} data-title="{{name}}" {% else %} data-title="{{category}}" {% endif %}>
                            <img class="img-fluid image scale-on-hover" src="{{ url_for('static', filename='uploads/images/' + category + '/' + file) }}">
                        </a>
                        {% if category == "departments" %}
                        <h6 class="text-center">{{name}}</h6>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal{{name}}">
                            <i class="fa-regular fa-trash-can"></i>Delete 
                        </button>
        
                        <!-- Modal -->
                        <div class="modal fade" id="Modal{{name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete {{name}}?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Note that Once deleted, image cannot be restored. </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{{ url_for('delete_file', category=category, filename=file) }}" method="post">
                                            <button class="btn btn-outline-danger" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
        

    </div>
   
{% endfor %}
{% if current_user.is_authenticated %}
<div class="container">
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#createcategory">
        <i class="fa-regular fa-trash-can"></i>Create New Category
    </button>

    <!-- Modal -->
    <div class="modal fade" id="createcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center">Create Category</h1>
                <form action="{{ url_for('create_category') }}" method="post" class="p-5 text-center">
                    <label class="form-label" for="category">Category Name:</label>
                    <input class="form-control-file" type="text" name="category" id="category" required>
                    <br><br>
                    <button class="btn btn-outline-success p-1" type="submit">Create Category</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<hr>
<hr>
<section class="m-5 w-100">
    <div class="container">
        <h1 class="my-4 text-center">Video Gallery</h1>
        {% if current_user.is_authenticated %}
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#uploadvideo">
            <i class="fa-regular fa-trash-can"></i>Upload new Videos
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadvideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload new videos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 class="text-center">Upload videos</h1>
                    <form action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">

            {% for video in videos %}
            <div class="col-md-4">
                <video width="320" height="240" controls>
                    <source src="{{ url_for('uploaded_file', filename=video) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% if current_user.is_authenticated %}
                <a class="btn btn-outline-danger" href="{{ url_for('delete_video', filename=video) }}">Delete</a>
                {% endif %}
            </div>
            {% if loop.index % 3 == 0 %}
            </div><div class="row">
            {% endif %}
        {% endfor %}       

        </div>
    </div>
</section>
{% endblock %}
