{% extends "base.html" %}
{% block content %}

      <section class="main_full inner_page d-sm-block d-md-block d-lg-none">
      <div class="container-fluid">
         <div class="row">
            <div class="full">
               <h3 style="color: transparent;" >Home</h3>   
            </div>
         </div>
      </div>
   </section>


      <!-- section -->
      <section class="main_full banner_section">
        <div class="container-fluid">
          <div class="row">
             <div class="full">
                  <div class="slider_banner shape_div">
                      <div class="slide_cont">
                        <div class="slider_cont_inner scrolled fade-in-bottom">
                          <h3>Welcome To <strong>D.U.P.E.M.S</strong></h3>
                        <p><strong>The Journey Of Dr. Ulhas Patil English Medium School, Savda Began In 2001 Under The Inspiration Of Our Respected Godavari Aai Along With The Far-sighted Vision Of Our Chairman Honourable Dr. Ulhas Pail Who Has Constantly Nurtured This School Under His Dynamic Leadership And An Overwhelming Personality.</strong></p>
                        </div>
                      </div>
                  </div>
               </div>
          </div>
        </div>
      </section>
      <!-- end section -->

      
      <!-- cards section -->
      <!-- <div class="container cards js-scroll fade-in-bottom">
         <div class="card ">
            <a  href="about">
               <div class="first_content">
                  <h4 class="text-white">About Us</h4>
               </div>
            </a>
         </div>
         <div class="card">
            <a  href="academics">
               <div class="first_content">
                  <h4 class="text-white">Academics</h4>
               </div>
               </a>
         </div>
         <div class="card">
            <a  href="gallery">
               <div class="first_content">
                  <h4 class="text-white">Gallery</h4>
               </div>
              </a>
         </div>
      </div> -->
      <!-- end cards -->
      <!-- welcome section -->
      <section class="section margin_top_30">
         <div class="container"> 
           <div class="row">
             <div class="col-sm-12 col-md-6 welcome-area-text">
               <div class="row">
                 <div class="col-sm-12 section-header-box">
                   <div class="section-header section-header-l js-scroll slide-left">
                     <h2>Welcome To <span style="color: #4886ff;">Godavari Foundation’s <br>Dr. Ulhas Patil English Medium School</span></h2>
                   </div>
                 </div>
               </div>
               <p><p style="text-align:left" class=" js-scroll slide-left">Dr. Ulhas Patil English Medium School Is Part Of Godavari Foundaiton Which Was Established With The Aim Of Promoting Quality Education To The Students.</p>  <p style="text-align:left" class=" js-scroll slide-left">The Journey Of Dr, Ulhas Patil English Medium School, Savda Began In 2001 Under The Inspiratio...</p> 
       
               <div class="row">
                  <div class="col-md-12">
                     <div class="full center js-scroll slide-left">
                         <a class="blue_bt" href="about">Read More</a>
                     </div>
                  </div>
               </div>    
             </div>
             
             <div class="col-sm-12 col-md-6 welcome-img js-scroll slide-right">
               <div class="welcome-imgs">
                  <img src="{{ url_for('static', filename='images/n.jpg')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
               </div>
               <div class="welcome-imgs">
                  <img src="{{ url_for('static', filename='images/kids.webp')}}" alt="GFDUPEMS" class="iimage-shadow1 img-responsive">
               </div>
             </div>         
           </div>
         </div>
       </section>
      <!-- end welcome section -->

      <!-- counter section -->
      <div class="container margin_top_80">
            <div class="row text-center js-scroll fade-in-bottom">
                  <div class="col">
                  <div class="counter-box">
                     <i class="fa-solid fa-landmark fa-2x"></i>
                     <h3 class=" count-title"><span class="counter">5</span> Acres</h3>
                     <p class="count-text "><strong>Campus</strong></p>
                  </div>
                  </div>
                     <div class="col">
                     <div class="counter-box">
                        <i class="fa-solid fa-users fa-2x"></i>
                        <h3 class=" count-title"><span class="counter ">2000</span>+</h3>
                        <p class="count-text "><strong>Happy Students</strong></p>
                     </div>
                     </div>
                     <div class="col">
                        <div class="counter-box">
                           <i class="fa-solid fa-user-tie fa-2x"></i>
                           <h3 class="count-title "><span class="counter ">75</span>+</h3>
                           <p class="count-text "><strong>Teaching Staffs</strong></p>
                        </div>
                     </div>
                     <div class="col">
                     <div class="counter-box">
                        <i class="fa-solid fa-user-group fa-2x"></i>
                        <h3 class="count-title "><span class="counter ">15</span>+</h3>
                        <p class="count-text "><strong>Non-teaching Staffs</strong></p>
                     </div>
                     </div>
            </div>
      </div>
      <!-- end counter section -->

      <!-- section -->
      <section class="layout_padding section">
         <div class="container-fluid timetable_bg shape_div">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1 js-scroll fade-in">
                     <h2>Our Teaching Time</h2>
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 cours_timging_bg shape_div2 mb-5">
                 <div class="container">
                    <div class="time_table js-scroll fade-in">
                          <ul><li>Monday</li><li>8 Am - 2:10 Pm</li></ul>
                          <ul><li>Tuesday</li><li>8 Am - 2:10 Pm</li></ul>
                          <ul><li>Wednesday</li><li>8 Am - 2:10 Pm</li></ul>
                          <ul><li>Thursday</li><li>8 Am - 2:10 Pm</li></ul>
                          <ul><li>Friday</li><li>8 Am - 2:10 Pm</li></ul>
                          <ul><li>Saturday</li><li>8 Am - 12:10 Pm</li></ul>
                          <ul><li>Sunday</li><li>Holiday</li></ul>
                       </div>
                 </div>        
              </div> 
            </div>
         </div>
      </section>
      <!-- end section -->

      <!-- section -->
      <section class="layout_padding section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1 js-scroll slide-left">
                     <h2 style="text-decoration: underline;">Our Success Stories</h2>
                  </div>
               </div>
               <div class="full text-center js-scroll slide-right">
                  <h6>Inspirational story of <strong>Pranav Bonde</strong></h6>
                  <p class="large">( Alumni of DUPEMS )</p>
               </div>
               <div class="col-md-12 testimonial text-center js-scroll slide-left">
                  <iframe class="iframe_video" src="https://www.facebook.com/plugins/video.php?height=252&href=https%3A%2F%2Fwww.facebook.com%2FDr.Upemssavda%2Fvideos%2F534461625131352%2F&show_text=true&width=560&t=0" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
               </div>
               
            </div>
        </div>
      </section>
      <!-- end section -->

{% endblock content %}