{% extends 'base.html' %}
{% block content %}
<style>
    .wrapper {
    margin: 100px auto;
    width: 400px;
    }
</style>
<!-- section -->
<section class="main_full inner_page">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="full">
            <h3>Login</h3>    
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<div class="text-center wrapper">
    <form class="form-signin" action="{{ url_for('login') }}" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Username" name="username" required >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}